.my-cart-style {
}
.order-checkout-img-style {
  width: 100px;
  height: 150px;
}
.order-checkout-style {
  border-top: 1px solid black;
}
.order-checkout-style:first-child {
  border-top: none;
}
.btn-style {
  width: 40px;
  outline: none;
}
.checkout-summary{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
