.home-menu {
}
.link-style {
  display: block;
  text-decoration: none;
  color: black;
  border-top: 1px solid black;
  padding: 15px;
}
.menu-link-heading {
  padding: 15px;
}
.link-style-span {
}

.link-style:hover {
  background-color: black;
  color: white;
}
